.tmb-hovercon .tmb-hovercon{
  visibility: hidden;
}
.tmb-hovercon:hover .tmb-hovercon{
  visibility: visible;
}

.color-red {
  color: red;
}

.margin-horizontal-small {
  margin-left: 3px;
  margin-right: 3px;
}
