.tmb-hovercon .tmb-hovercon{
  visibility: hidden;
}
.tmb-hovercon:hover .tmb-hovercon{
  visibility: visible;
}

.tmb-minus-60px {
  display: inline-block;
  width: calc(100% - 60px);
}

.tmb-wrap-text {
  word-break: break-all;
}

.glyphicon {
  font-size: 1.3em;
}

.color-red {
  color: red;
}

.margin-horizontal-small {
  margin-left: 3px;
  margin-right: 3px;
}
