<div class="jumbotron">
  <form name="form" ng-submit="submit()">
    <input class="form-control text-center" type="text" name="formItem" ng-model="form.item"
           required autofocus placeholder="{{$scope.form.placeholder}}"
           ng-focus="$scope.form.placeholder=''" ng-blur="$scope.form.placeholder='What are we going to accomplish today?'">
  </form>
  <ol class="text-left list-reset" ui-sortable ng-model="todo.list">
    <li class="icon-on-hover" ng-repeat="item in todo.list track by $index">
      <span class="glyphicon glyphicon-remove" ng-click="remove($index)"/>
      <span class="sortable"> {{item}} </span>
    </li>
  </ol>
</div>
